
<!-- 
  <div class="container">
  Name: <%#= @booking.first_name %>
  <%#= @booking.last_name %><br>
  Email: <%#= @booking.email %><br>
  Mobile Number: <%#= @booking.mobile_number %><br>
  Address: <%#= @booking.address %><br>
</div>
 -->