<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>


<center><h2>Learning management system (LMS) </h2></center>

<div class="container about m-4">
<h5>
	A learning management system (LMS) is a software application or web-based technology used to plan, implement and assess a specific learning process. It is used for eLearning practices and, in its most common form, consists of two elements: a server that performs the base functionality and a user interface that is operated by instructors, students and administrators.

Typically, a learning management system provides an instructor with a way to create and deliver content, monitor student participation and assess student performance. A learning management system may also provide students with the ability to use interactive features such as threaded discussions, video conferencing and discussion forums.

LMSes are frequently used by businesses of all sizes, national government agencies, local governments, traditional educational institutions and online/eLearning-based institutions. The systems can improve traditional educational methods, while also saving organizations time and money. An effective system will allow instructors and administrators to efficiently manage elements such as user registration, content, calendars, user access, communication, certifications and notifications.

The Advanced Distance Learning group, sponsored by the United States Department of Defense, has created a set of specifications called Shareable Content Object Reference Model (SCORM) to encourage the standardization of learning management systems.
What are learning management systems used for?

LMSes are beneficial to a wide range of organizations, including higher education institutions and corporations. The primary use of a learning management system is for knowledge management (KM). KM refers to the gathering, organizing, sharing and analysis of an organization's knowledge in terms of resources, documents and people skills. However, the specific role of the LMS will vary according to the organization's training strategy and goals.

Some popular LMSes used by educational institutions include Moodle, Blackboard Learn and Schoology. Popular enterprise-level LMSes include Adobe Captivate Prime, Docebo LMS, TalentLMS, iSpring Learn and eFront.

Employee training and onboarding is one of the most common use cases for an LMS in a corporate environment. In this case, the LMS is used to help train new employees by providing opportunities to access training materials across various devices. New employees can be recognized when they add their own knowledge and feedback, which will, in turn, help employers understand how effective the training courses are and identify areas where new employees need more assistance.

LMSes can be used for extended enterprise training purposes as well. This includes customer, partner and member training. Customer training is common in software and technology companies where users need to be taught how a system works before they can use the new product. Providing ongoing customer training will also help improve customer experience and increase brand loyalty.

Another common use of LMSes in corporate environments is for employee development and retention. The LMS can be used to assign the necessary courses to current employees to ensure they are developing effective job skills, remain informed about product changes and maintain relevant knowledge through new product and compliance training.

</h5>
</div>
</div>
<br>